# you need to run
# $ unset MPI
# $ unset MPI_DIR

VERSION = 2022-11-10

CPP = cpp
FPP = cpp
CC  = mpiicc
CXX = mpiicpc
F77 = mpiifort
F90 = mpiifort

CPPFLAGS = -g -DOMPI_SKIP_MPICXX
FPPFLAGS = -g -traditional
CFLAGS   = -g -debug all -xhost -std=gnu99
#CFLAGS   = -g -traceback -debug all -xhost -align -std=gnu99
CXXFLAGS = -g -traceback -debug all -xhost -align -std=gnu++11
F77FLAGS = -g -traceback -debug all -xhost -align -pad -safe-cray-ptr
F90FLAGS = -g -traceback -debug all -xhost -align -pad -safe-cray-ptr

#LDFLAGS = -rdynamic -xCORE-AVX512

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0 -check bounds -check format
F90_DEBUG_FLAGS = -O0 -check bounds -check format

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -Ofast
CXX_OPTIMISE_FLAGS = -Ofast
F77_OPTIMISE_FLAGS = -Ofast
F90_OPTIMISE_FLAGS = -Ofast

CPP_NO_OPTIMISE_FLAGS  = 
FPP_NO_OPTIMISE_FLAGS  = 
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F77_NO_OPTIMISE_FLAGS  = -O0
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =

BLAS_DIR  = NO_BUILD
BLAS_LIBS = -mkl

#GSL_DIR = /apps/GSL/2.4/INTEL
#HDF5_DIR = /apps/HDF5/1.8.19/INTEL/IMPI

#HWLOC_DIR = NO_BUILD

#LAPACK_DIR  = NO_BUILD
#LAPACK_LIBS = -mkl

#MPI_DIR  = /apps/INTEL/2018.3.051/impi/2018.3.222/intel64
#MPI_LIBS = mpi
#MPI_DIR  = /home/lmod/modules/all/MPI/intel/2019.2.187-GCC-8.2.0-2.31.1/impi/2019.2.187

#OPENBLAS_DIR  = NO_BUILD
#OPENBLAS_LIBS = -mkl

#ZLIB_DIR   = /apps/ZLIB/1.2.11/INTEL
#LIBZ_DIR   = /apps/ZLIB/1.2.11/INTEL/lib

#LIBSZ_DIR  = /apps/SZIP/2.1.1/INTEL/lib

#PAPI_DIR=/apps/PAPI/6.0.0

#PTHREADS_DIR = NO_BUILD
